$background-white: #ffffff;
$background-purple-hard: rgb(103, 58, 183);
$background-purple-soft: #f0ebf8;

$font-black: rgb(32, 33, 36);
$font-gray-hard: rgb(60, 64, 67);
$font-gray-soft: rgb(112, 117, 122);
$font-blue: rgb(26, 115, 232);
$font-purple: rgb(103, 58, 183);
