$background-white: rgba(255, 255, 255, 1);
$background-purple-hard: rgba(103, 58, 183, 1);
$background-purple-soft: rgba(240, 235, 248, 1);
$background-blue: rgba(65, 133, 244, 1);
$background-red: rgba(210, 63, 49, 1);
$background-gray-hard: rgba(185, 185, 185, 1);
$background-gray-soft: rgb(128, 134, 139);
$background-gray-transparent: rgba(0, 0, 0, 0.12);

$font-black: rgba(32, 33, 36, 1);
$font-gray-hard: rgba(60, 64, 67, 1);
$font-gray-soft: rgba(112, 117, 122, 1);
$font-gray-transparent: rgba(0, 0, 0, 0.38);

$font-blue: rgba(26, 115, 232, 1);
$font-purple: rgba(103, 58, 183, 1);

$border-gray: rgba(218, 220, 224, 1);
$border-gray-transparent: rgba(0, 0, 0, 0.38);
