@import "../../styles/utils.scss";

$mobile-editform-header-height: 146px;
$tablet-editform-header-height: 106px;
$viewform-header-height: 60px;

.container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;

  &.view {
    width: 90vw;
  }
}

.header {
  position: fixed;
  z-index: 2;
  left: 0;
  width: 100%;
  top: 0;
  height: $mobile-editform-header-height;

  @include tablet {
    height: $tablet-editform-header-height;
  }

  .view > & {
    width: 100%;
    height: $viewform-header-height;
  }
}

.form {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: scroll;
  padding: 12px 0 0;
  top: $mobile-editform-header-height;
  height: calc(100vh - $mobile-editform-header-height);

  @include tablet {
    top: $tablet-editform-header-height;
    height: calc(100vh - $tablet-editform-header-height);
  }

  .view > & {
    top: $viewform-header-height;
    height: calc(100vh - $viewform-header-height);
  }
}
