@import "../../styles/utils.scss";

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: $mobile-header-height;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  @include tablet {
    height: $tablet-header-height;
  }
}

.form {
  position: absolute;
  width: 100%;
  top: $mobile-header-height;
  height: calc(100vh - $mobile-header-height);
  overflow: scroll;
  padding: 12px 0 0;

  @include tablet {
    top: $tablet-header-height;
    height: calc(100vh - $tablet-header-height);
  }
}
